<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<script th:replace="fragments/header :: headerElement">
	</script>
	<title>FreshVotesProduct</title>
</head>
<body >
	<div th:replace="fragments/header :: navbar"></div>
	<div class="container" style="margin-top: 2em">
		
		<div class="card">
			<div class="card-header">
				<h3>New Feature</h3>
			</div>
			
			<form action="" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<input type="hidden" th:field="${feature.id}"/>
				<input type="hidden" th:field="${feature.product}"/>
				<input type="hidden" th:field="${feature.status}"/>
				
				<div>
					<label>Title</label>
					<input type="text" th:field="${feature.title}"/>
				</div>
				
				<div>
					<label>Description</label>
					<input type="text" th:field="${feature.description}"/>
				</div>
			
				<div>
					<button type="submit" class="btn btn-primary btn-lg">Save Feature</button>
				</div>
			</form>
		</div>
	</div>
	
</body>
</html>